---
- name: Playbook to install and configure Apache web server
  hosts: ubuntu_nodes
  become: true
  tasks:
    - name: Install Apache
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: true

    - name: Add php support for Apache
      ansible.builtin.apt:
        name: libapache2-mod-php
        state: present

    - name: Ensure Apache is running and enabled
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true
